[workspace]
resolver = "2"
members = [
    "benchmarks/aunt-kg/",
    "benchmarks/fizzbuzz/",
    "benchmarks/logic-query/",
    "benchmarks/oeis/",
    "benchmarks/simple_partest/",
    "benchmarks/parmap/",
    "experiments/expr/bytestring/",
    "experiments/expr/dyck/", "experiments/symbol_mapping/bucket_map", "experiments/symbol_mapping/bucket_map_dependant_tests", "experiments/symbol_mapping/naive_map",
    "frontend/",
    "kernel/"
]

[workspace.package]
edition = "2021"

[workspace.dependencies]
log = { version = "0.4.27" }
env_logger = "0.11.8"

# Internal to MORK
mork-bytestring = {path = "./experiments/expr/bytestring"}
mork-frontend = {path = "./frontend"}
mork = {path = "./kernel"}
bucket_map = {features = ["debug_api"], path = "./experiments/symbol_mapping/bucket_map"}

# External to MORK
freeze = { version="0.1.1", git="https://github.com/luketpeterson/Freeze.git" } #Fixes build on MacOS
gxhash = {version="3.4.1", git="https://github.com/luketpeterson/gxhash/"} # for dag_serialization

[workspace.dependencies.pathmap]
path = "../PathMap"
features = ["jemalloc", "arena_compact", "all_dense_nodes"]
