[workspace]
resolver = "2"
members = [
    "benchmarks/aunt-kg/",
    "benchmarks/fizzbuzz/",
    "benchmarks/logic-query/",
    "benchmarks/oeis/",
    "experiments/expr/bytestring/",
    "experiments/expr/dyck/", "experiments/symbol_mapping/bucket_map", "experiments/symbol_mapping/naive_map",
    "frontend/",
    #"kernel/" LP: Looks to be in a state of heavy experimentation
]

[workspace.package]
edition = "2021"

[workspace.dependencies]

# Internal to MORK
mork-bytestring = {path = "./experiments/expr/bytestring"}
mork-frontend = {path = "./frontend"}
# mork = {path = "./kernel"} LP: Looks to be in a state of heavy experimentation

# External to MORK
[workspace.dependencies.pathmap]
path = "../PathMap"
features = ["jemalloc"]
# features = ["all_dense_nodes"]
